{% extends 'base.html' %}
{% block content %}

    <div class="login-container">
        <div class="login-form">
            <p id="login-title">LOGIN</p>
            {% if form.errors %}
                <p id="error-msg">Invalid password or username</p>
            {% endif %}
            <form action="{% url 'accounts:login' %}" method='post'>
                {% csrf_token %}
                
                <div class="form-field">
                    <input type="text" name="username" autofocus="" autocapitalize="none" 
                    placeholder="Username" maxlength="150" required="" id="id_username">
                </div>
                <div class="form-field">
                    <input type="text" name="password" autofocus="" autocapitalize="none" 
                    placeholder="Password" maxlength="150" required="" id="id_password">
                </div>
    
                <button name="submit" id="login-btn">Log In</button>
            </form>
            <p>Don't have an account? <a href="{% url 'accounts:register' %}" id="register-link">Register</a></p>
        </div>
    </div>

{% endblock content %}