{% extends 'base.html' %}
{% block content %}

    <div class="user-form-container">
        <div class="user-form">
            <h2 id="form-title">LOGIN</h2>
            {% if form.errors %}
                <p id="error-msg">Invalid password or username</p>
            {% endif %}
            <form action="{% url 'accounts:login' %}" method='POST'>
                {% csrf_token %}
                
                <div class="form-fields">
                    <input type="text" name="username" autofocus autocapitalize="none" 
                    placeholder="Username" maxlength="12" required id="id_username">
                    <input type="password" name="password" autofocus autocapitalize="none" 
                    placeholder="Password" maxlength="150" required id="id_password">
                </div>
    
                <button name="submit" id="submit-btn">Log In</button>
            </form>
            <p id="form-msg">Don't have an account? <a href="{% url 'accounts:register' %}" id="form-link">Register</a></p>
        </div>
    </div>

{% endblock content %}