{% extends 'base.html' %}
{% block content %}

    <div class="user-form-container">
        <div class="user-form">
            <h2 id="form-title">REGISTER</h2>
            {% if form.errors %}
                <p id="error-msg">Error Registering</p>
            {% endif %}
            <form action="{% url 'accounts:login' %}" method='POST'>
                {% csrf_token %}

                <div class="form-fields">
                    <input type="text" name="username" autofocus autocapitalize="none" 
                    placeholder="Username" maxlength="12" required id="id_username">
                    <input type="email" name="email" autofocus autocapitalize="none" 
                    placeholder="Email" maxlength="150" required id="id_email">
                    <input type="password" name="password" autofocus autocapitalize="none" 
                    placeholder="Password" maxlength="150" required id="id_password">
                </div>
                <div class="requirements">
                    <p class="invalid" id="length">Must be min. 8 characters</p>
                    <p class="invalid" id="number">Must include a number</p>
                    <p class="invalid" id="special">Must contain one special character !@#$%^&*()</p>
                    <p class="invalid" id="lower-upper">Must contain both lower and upper case letters</p>
                </div>
                <div class="form-fields">
                    <input type="password" name="password" autofocus autocapitalize="none"
                    placeholder="Confirm Password" maxlength="150" required id="id_conf_password">
                </div>
                <div class="tos-msg-container">
                    <p id="tos-msg">I agree to the <a href="" id="form-link">Terms and Service</a></p>
                    <input type="checkbox" id="checkbox">
                </div>
                <button name="submit" id="submit-btn" disabled>Register</button>
            </form>
            <p id="form-msg">Already have an account? <a href="{% url 'accounts:login' %}" id="form-link">Login</a></p>
        </div>
    </div>
{% endblock content %}