* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background: rgb(23,23,23);
    --text: white;
    --box-shadow: rgb(0,0,0, 0.3);
    --hover-fill: dimgray;
    --opacity: 0.8;
}

body {
    background-color: var(--background);
    color: var(--text);
}

#toggle {
    margin-left: 15px;
    padding-left: 500px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(23,23,23);
    border: 2px solid rgb(23,23,23);
    border-radius: 34px;
    transition: 0.4s;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider:before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    transition: 0.4s;
}

#toggleSwitch:checked+.slider {
    background-color: white;
    border: 2px solid white;
}

#toggleSwitch:checked+.slider:before {
    transform: translateX(26px);
    background-color: var(--background);
    border: 2px solid var(--background);
}

.nav-bar {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: right;
}

.nav-links a {
    margin-left: 25px;
    text-decoration: none;
    color: var(--text);
    font-size: xx-large;
    font-weight: bold;
    position: relative;
}

.nav-links a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--text);
    bottom: -2px;
    left: 0;
    transition: width 0.1s ease-in-out;
}

.nav-links a:hover::before {
    width: 100%;
}

#logo {
    padding-right: 500px;
}

#logo img {
    height: 40px;
}

.portfolio {
    margin-bottom: 30px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile img {
    height: 375px;
    width: 375px;
    border-radius: 100%;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.links a:hover {
    opacity: var(--opacity);
}

.links a {
    margin-left: 15px;
    margin-right: 15px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 100px;
    text-decoration: none;
}

.links img {
    width: 60%;
    height: 60%;
    margin: 0 auto;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.about-me p {
    max-width: 775px;
    font-size: x-large;
}

.posts-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.cards {
    display: flex;
    place-items: center;
    flex-direction: column;
}

.cards a {
    text-decoration: none;
    color: var(--text);
}

.card {
    width: 650px;
    height: 205px;
    margin: 20px;
    background-color: var(--background);
    box-shadow: 4px 4px 4px 4px var(--box-shadow);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card img {
    height: 205px;
    max-height: 205px;
    width: 250px;
}

.card-contents {
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 3px;
}

.card-contents h2, p {
    padding-top: 10px;
}

.card-date {
    color: slategray;
}

.card-desc {
    padding-top: 0px;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.post-text {
    padding: 0px;
}

.post img {
    max-width: 760px;
    max-height: 500px;
    width: auto;
    height: auto;
}

.post-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 760px;
    max-width: 100%;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 10px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.post-date {
    color: slategray;
    text-align: right;
}

.post-content {
    font-size: 17px;
    width: 760px;
    max-width: 780px;
}

.pagination-container {
    margin-top: auto;
}

.pagination {
    position: relative;
    bottom: 10px;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pagination a {
    color: var(--text);
    margin: 0;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #333;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: dimgray;
}

.comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 760px;
    max-width: 100%;
    text-align: left;
}

#Login-link:hover {
    color: #333;
}

.comments-header p {
    padding: 0;
    color: var(--text);
    font-size: large;
    font-weight: bold;
}

.comment-links a {
    text-decoration: none;
    color: var(--text);
    font-size: large;
    font-weight: bold;
}

.post-separator {
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid var(--text);
    background-color: var(--text);
    height: 2px;
    width: 760px;
}

.comment-form-container {
    background-color: var(--background);
    width: 760px;
    height: auto;
}

#comment-form {
    width: 100%;
    height: auto;
}

#comment-form input[type=text] {
    width: 100%;
    padding: 12px 10px;
}

#post-button {
    margin-top: 10px;
    padding: 8px 8px;
    background-color: var(--background);
    color: var(--text);
    border: 1px solid #ddd;
    border-radius: 5px;
}

#post-button:hover {
    background-color: var(--hover-fill);
    cursor: pointer;
}

.comments-container {
    width: 760px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.comment {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.comment-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment p {
    padding: 2px;
}

#user-name {
    color: slategray;
    margin-right: 1px;
}

#user-comment-date {
    color: slategray;
}

#user-comment {
    font-size: large;
    color: var(--text);
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    text-align: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 4px 4px 4px 4px var(--box-shadow);
    width: 350px;
    padding-bottom: 20px;
}

#login-title {
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-top: 40px;
    padding: 15px;
}

#error-msg {
    color: indianred;
}

.form-field {
    padding-bottom: 12px;
}

.form-field input {
    padding-top: 8px;
    padding-left: 5px;
    padding-bottom: 8px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
}

#login-btn {
    padding: 8px 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--background);
    color: var(--text);
    border: 1px solid #ddd;
    border-radius: 5px;
}

#login-btn:hover {
    background-color: var(--hover-fill);
    cursor: pointer;
}

#register-link {
    text-decoration: none;
    color: slategray;
}

#register-msg {
    margin-bottom: 40px;
}