* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background: rgb(23,23,23);
    --text: white;
    --box-shadow: rgb(0,0,0, 0.9);
}

body {
    background-color: var(--background);
    color: var(--text);
}

#toggle {
    margin-left: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(23,23,23);
    border: 2px solid rgb(23,23,23);
    border-radius: 34px;
    transition: 0.4s;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider:before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    transition: 0.4s;
}

#toggleSwitch:checked+.slider {
    background-color: white;
    border: 2px solid white;
}

#toggleSwitch:checked+.slider:before {
    transform: translateX(26px);
    background-color: black;
    border: 2px solid black;
}

/* .nav-bar {
    margin-top: 100px;
    margin-bottom: 120px;
    margin-left: 500px;
    margin-right: 500px;
    display: flex;
    align-items: center;
}

#logo {
    display: flex;
}

#logo img {
    padding-right: 500px;
    height: 40px;
    width: 100%;
}

.nav-bar a {
    margin-left: 15px;
    text-decoration: none;
    color: var(--text);
    font-size: xx-large;
    font-weight: bold;
} */

.nav-bar {
    margin-top: 70px;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: right;
}

.nav-links a {
    margin-left: 25px;
    text-decoration: none;
    color: var(--text);
    font-size: xx-large;
    font-weight: bold;
    position: relative;
}

.nav-links a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--text);
    bottom: -2px;
    left: 0;
    transition: width 0.1s ease-in-out;
}

.nav-links a:hover::before {
    width: 100%;
}

#logo {
    padding-right: 500px;
}

#logo img {
    height: 40px;
}

.portfolio {
    margin-bottom: 30px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile img {
    height: 375px;
    width: 375px;
    border-radius: 100%;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.links a {
    margin-left: 15px;
    margin-right: 15px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 100px;
    text-decoration: none;
}

.links img {
    width: 60%;
    height: 60%;
    margin: 0 auto;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.about-me p {
    max-width: 775px;
    font-size: x-large;
}

.posts-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.cards {
    display: flex;
    place-items: center;
    flex-direction: column;
}

.cards a {
    text-decoration: none;
    color: var(--text);
}

.card {
    width: 650px;
    height: 205px;
    margin: 20px;
    background-color: var(--background);
    box-shadow: 4px 4px 4px var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card img {
    height: 205px;
    max-height: 205px;
    width: 250px;
}

.card-contents {
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 3px;
}

.card-contents h2, p {
    padding-top: 10px;
}

.card-date {
    color: slategray;
}

.card-desc {
    padding-top: 0px;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.post img {
    max-width: 100%;
    max-height: 500px;
    width: auto;
    height: auto;
}

.post-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 760px;
    max-width: 100%;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 10px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.post-date {
    color: slategray;
    text-align: right;
}

.post-content {
    width: 760px;
}

.pagination-container {
    margin-top: auto;
}

.pagination {
    position: relative;
    bottom: 10px;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pagination a {
    color: var(--text);
    margin: 0;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #333;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: dimgray;
}