<div class="comment-section">
    <div class="comments-header">
        <p>Comments</p>
        <div class="comment-links">
            <a href="">Register</a> &#x2022;
            <a href="">Log In</a>
        </div>
    </div>
    <hr class="post-separator">
    <div class="comment-form-container">
        <form id="comment-form">
            {% csrf_token %}

            <input type="text" name="text" id="comment-text" placeholder="add comment" maxlength="150">
            <input type="submit" value="Post" id="post-button">
        </form>
    </div>
    <div class="comments-container">
        <div class="comment">
            <p id="user-name">Username</p>
            <p id="user-comment">Yoooo this is pretty goood</p>
        </div>
    </div>
</div>
<script>
    const csrf = "{{ csrf_token }}"
</script>
<script src="/static/js/form.js"></script>