{% load static %}
<div class="comment-section">
    <div class="comments-header">
        <p>Comments</p>
        <div class="comment-links">
            <a href="">Register</a> &#x2022;
            <a href="">Log In</a>
        </div>
    </div>
    <hr class="post-separator">
    <div class="comment-form-container">
        <form id="comment-form">
            {% csrf_token %}

            <input type="text" name="text" id="comment-text" placeholder="add comment" maxlength="150" required>
            <input type="submit" value="Post" id="post-button">
        </form>
    </div>
    <div class="comments-container">
        <div class="comment">
            {% for comment in comments %}
            <div class="comment-heading">
                <p id="user-name">er880</p>
                <p id="user-comment-date">@ {{ comment.date_added|date:'n/j/y' }}</p>
            </div>
            <p id="user-comment">{{ comment.text }}</p>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    const csrf = "{{ csrf_token }}"
</script>
<script src="{% static 'js/form.js' %}"></script>