{% extends 'base.html' %}
{% block content %}
<div class="portfolio">
    <div class="profile">
        <img src="static/images/default.jpg" alt="default placeholder">
    </div>
    <div class="links">
        <a href="#" id="github"><img src="static/images/github.svg" alt=""></a>
        <a href="#" id="linkedin"><img src="static/images/linkedin.svg" alt=""></a>
        <a href="#" id="form"><img src="static/images/rectangle-list-solid.svg" alt=""></a>
    </div>
    <div class="about-me">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident corrupti ab quis vero quaerat
            iure soluta vitae, fugit vel, maiores doloribus inventore atque, perferendis obcaecati? Eos illum
            exercitationem obcaecati ipsum!
        </p>
    </div>
</div>
{% endblock content %}