{% load static %}
<div class="user-bar">
    <div class="user-links">
        {% if user.is_authenticated %}
            <a href="{% url 'accounts:logout' %}">Log Out</a>
            <a href="{% url 'accounts:settings' %}" id="gear"><img src="{% static 'images/gear-solid.svg' %}" alt=""></a>
        {% else %}
            <a href="{% url 'accounts:login' %}">Log In</a>
        {% endif %}
    </div>
</div>
<div class="nav-bar">
    <div class="nav-links">
        <a href="{% url 'app:index' %}">Home</a>
        <a href="{% url 'app:posts' %}">Posts</a>
        <div id="toggle">
            <label class="switch">
                <input type="checkbox" id="toggleSwitch" checked>
                <span class="slider"></span>
            </label>
        </div>
    </div>
</div>