<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
    {% endif %}
    {% if page_obj.number >= 4 %}
            <a href="?page=1">1</a>
        {% if page_obj.number >= 5 %}
            <a href="?page={{ page_obj.number|add:'-3' }}">&hellip;</a>
        {% endif %}
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a href="?page={{ num }}" class="active">{{ num }}</a>
        {% elif num >= page_obj.number|add:'-2' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
        <a href="?page={{ page_obj.number|add:'5' }}">&hellip;</a>
        <a href="?page={{ page_obj.paginator.count }}">{{ page_obj.paginator.count }}</a>
    {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
        <a href="?page={{ page_obj.paginator.count }}">{{ page_obj.paginator.count }}</a>
    {% endif %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
    {% endif %}
</div>