{% extends 'base.html' %}
{% block content %}
<div class="post">
    {% if post.image %}
    <div class="post-image">
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
    </div>
    {% endif %}
    <div class="post-header">
        <p class="title">{{ post.title }}</p>
        <p class="post-date">{{ post.date_added|date:'M d, Y' }}</p>
    </div>
    <div class="post-content">
        {% if post.text %}
            <p class="post-text">{{ post.text|safe }}</p>
        {% else %}
            <p>No text</p>
        {% endif %}
    </div>
</div>
{% include 'comments.html'%}
{% endblock content %}