{% extends 'base.html' %}
{% block content %}
<div class="posts-container">
    <div class="cards">
        {% for post in page_obj %}
        <a href="{% url 'app:post' post.id %}">
        <div class="card">
            <div class="card-image">
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
            </div>
            <div class="card-contents">
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-date">{{ post.date_added|date:'M d, Y' }}</p>
                <p class="card-desc">{{ post.text|safe|truncatechars:200 }}</p>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>
    <div class="pagination-container">
        {% include 'pagination.html' %}
    </div>
</div>
{% endblock content %}